body{
    width:99%;
    height: 98%;
}

.header{
    width:100%;
    height:50px;
    border: 2px solid #282D44;
    background-color: #282D44;
    position: fixed;
}

.creatorlogo{
    width:30px;
    height: 30px;   
    padding: 10px;
    cursor: pointer;
    float: left;
}

.logoname{
    font-size: 30px;
    color: white;
    margin-left: 80px;
    margin-top: 7px;
    cursor: pointer;
}

.organize{
    width: 140px;
    height: 34px;
    font-size: 15px;
    margin-left: 214px;
    margin-top: -   40px;
    color: white;
    background-color: #313752;
    border: none;
    outline: none;
    cursor: pointer;
}

.rightsideElements{
    width: 300px;
    height: 50px;
    float: right;
    margin-top: -70px;
}

.subscription{
    width:300px;
    height:30px;
    /* border: 1px solid black; */
    font-size: 20px;
    color: #C5A147;
    cursor: pointer;
}

.settings{
    color: #F6F6FB;
    top: 30px;
    position: fixed;
    right: 150px;
    cursor: pointer;
}   

.align{
    color: #F6F6FB;
    top: 30px;
    position: fixed;
    right: 100px;
    cursor: pointer;
}

.userimg{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 20px;
    right: 30px;
    border-radius: 50px;
    cursor: pointer;
}

.informations{
    width:100%;
    height: 925px;
    cursor: pointer;
}

.categories{
    width:20%;
    height:930px;
    /* border: 1px solid black; */
    background-color: #F6F6FB;
    cursor: pointer;
}

.development{
    width:20%;
    height:175px;
    /* border:2px solid black; */
    position: fixed;
    top: 62px;
    cursor: pointer;
}

.developHead{
    font-size: 25px;
    color: #54627C;
    margin-top: 30px;
    margin-left: 25px;
    cursor: pointer;
}

.solutionimage{
    width: 20px;
    height: 30px;
    margin-left: 100px;
    cursor: pointer;
}

.solutions{
    font-size: 20px;
    color: #54627C;
    margin-left: 135px;
    margin-top: -25px;
    cursor: pointer;
}

.services{
    font-size: 20px;
    color: #54627C;
    margin-left: 135px;
    margin-top: -25px;
    cursor: pointer;
}

.serviceimage{
    width: 25px;
    height: 25px;
    margin-left: 100px;
    margin-top: 20px;
    cursor: pointer;
}

.deploy{
    width:20%;
    height:230px;
    position: fixed;
    top: 240px;
    cursor: pointer;
}

.deployHead{
    font-size: 25px;
    color: #54627C;
    margin-top: 30px;
    margin-left: 25px;
    cursor: pointer;
}

.environmentimage{
    width: 20px;
    height: 30px;
    margin-left: 100px;
}

.environments{
    font-size: 20px;
    color: #54627C;
    margin-left: 135px;
    margin-top: -25px;
}

.mobileimage{
    width: 25px;
    height: 30px;
    margin-left: 100px;
    margin-top: 20px;
    cursor: pointer;
}

.mobile{
    font-size: 20px;
    color: #54627C;
    margin-left: 135px;
    margin-top: -25px;
    cursor: pointer;
}

.globeimage{
    width: 25px;
    height: 30px;
    margin-left: 100px;
    margin-top: 20px;
    cursor: pointer;
}

.portal{
    font-size: 20px;
    color: #54627C;
    margin-left: 135px;
    margin-top: -25px;
    cursor: pointer;
}

.manage{
    width:20%;
    height:300px;
    position: fixed;
    top: 475px;
    cursor: pointer;
}

.managehead{
    font-size: 25px;
    color: #54627C;
    margin-top: 30px;
    margin-left: 25px;
    cursor: pointer;
}

.usersimage{
    width: 20px;
    height: 30px;
    margin-left: 100px;
    cursor: pointer;
}

.users{
    font-size: 20px;
    color: #54627C;
    margin-left: 135px;
    margin-top: -25px;
    cursor: pointer;
}

.governanceimage{
    width: 25px;
    height: 30px;
    margin-left: 100px;
    margin-top: 20px;
    cursor: pointer;
}

.governance{
    font-size: 20px;
    color: #54627C;
    margin-left: 135px;
    margin-top: -25px;
    cursor: pointer;
}

.operationimage{
    width: 30px;
    height: 30px;
    margin-left: 100px;
    margin-top: 20px;
    cursor: pointer;
}

.operation{
    font-size: 20px;
    color: #54627C;
    margin-left: 135px;
    margin-top: -25px;
    cursor: pointer;
}

.organiseimage{
    width: 25px;
    height: 30px;
    margin-left: 100px;
    margin-top: 20px;
    cursor: pointer;
}

.organise{
    font-size: 20px;
    color: #54627C;
    margin-left: 135px;
    margin-top: -25px;
    cursor: pointer;
}

.mainpage{
    width: 1450px;
    height:900px;
    /* border: 1px solid black; */
    position: fixed;
    top:70px;
    left: 380px;
}

.head{
    width:1500px;
    height:30px;
    border-bottom:1px solid gray;
}

.headAll{
    font-size: 25px;
    margin-left:20px ;
    color:#7C8496;
}

.search{
    margin-top: 30px;
    width: 700px;
    height: 50px;
    /* border-bottom: 1px solid black; */
    margin-left: 50px;
}

.searchIcon{
    width: 30px;
    height: 30px;
    color:gray;
    font-size: 25px;
    transform:rotate(90deg) ;
    margin-top:15px;
}

.searchbox{
    width:500px;
    height:40px;
    font-size: 20px;
    border: none;
    outline: none;
    margin-left: 20px;
}

.applicationsHead{
    font-size: 20px;
    color: #7F8798;
    margin-left: 50px;
    margin-top: 30px;
}

.applicationsCategories{
    width:500px;
    height: 250px;
    border:1px solid rgb(241, 231, 231);
    margin-left: 50px;
    margin-top: 20px;
}

.leftSideCategories{
    width:200px;
    height:250px;
    font-size: 18px;
    color: #7F8798;
}

.rightsideCategories{
    width: 200px;
    height:250px;
    font-size: 18px;
    float: right;
    margin-top: -270px;
    color: #7F8798;
}

li{
    list-style-type: none;
    margin-top: 12px;
}

.analytics{
    margin-left: 530px;
    margin-top: -330px;
}

.analyticsHead{
    font-size: 20px;
    color: #7F8798;
    margin-left: 90px;
    margin-top: 30px;
}

.analyticsCategories{
    width:200px;
    height: 250px;
    border:1px solid rgb(241, 231, 231);
    margin-left: 100px;
    margin-top: 20px;
}

.categoriesofAnalytics{
    font-size: 18px;
    color: #7F8798;
}

.flows{
    margin-left: 530px;
    margin-top: -330px;
}

.flowsHead{
    font-size: 20px;
    color: #7F8798;
    margin-left: 400px;
    margin-top: 30px;
}

.flowsCategories{
    width:200px;
    height: 250px;
    border:1px solid rgb(241, 231, 231);
    margin-left: 400px;
    margin-top: 20px;
}

.categoriesofFlows{
    font-size: 18px;
    color: #7F8798;
}