body{
    margin: 0 0;
    padding: 0;
}

.leftside-elements{
    width: 375px;
    font-size: 20px;
    display: flex;
}

.header{
    background-color: #282D44;
    display: flex;
}

.creatorlogo{
    float: left;
    height: 30px;
    cursor: pointer;
    padding-top: 15px;
    padding-left: 20px;
}

.logoname{
    height: 20px;
    color: white;
    cursor: pointer;
    padding-left: 15px;
    line-height: 7.5px;
}

.optionbox{
    padding-left: 40px;
    padding-top: 15px;
}
.organize{
    height: 35px;
    font-size: 15px;
    color: white;
    background-color: #313752;
    outline: none;
    
}

.rightside-elements{
    height: 50px;
    display: flex;
    position: absolute;
    right: 0;

}

.subscription{
    color: burlywood;
    padding-left: 20px;
    font-size: 25px;
    cursor: pointer;
    height: 50px;
}

.settings{
    color: white;
    font-size: 25px;
    padding-left: 20px;
    padding-top: 23px;
    cursor: pointer;
}   

.align{
    color: white;
    font-size: 25px;
    padding-left: 20px;
    padding-top: 23px;
    cursor: pointer;
}

.userimg{
    height: 30px;
    padding-left: 20px;
    padding-top: 20px;
    cursor: pointer;
}

.informations{
    display: flex;
}

.categories{
    background-color: #F6F6FB;
}

.categories-heading{
    font-size: 25px;
    color: #54627C;
    padding-left: 25px;
    cursor: pointer;
}

.menu-item{
    display: flex;
    padding-left: 50px;
    padding-top: 15px;
    padding-right: 50px;
}

.item-name{
    padding-left: 20px;
    font-size: 20px;
    padding-top: 3px;
}

.item-image{
    width: 20px;
    height: 30px;
    margin-left: 25px;
    margin-top: 6px;
    cursor: pointer;
    /* border: 2px solid black; */
}

.head{
    border-bottom: 1px solid grey;
}

.headAll{
    font-size: 25px;
    padding-left: 20px;
    color: #7C8496;
}

.search{
    padding-left: 60px;
    padding-top: 20px;

}

.searchIcon{
    color:gray;
    font-size: 25px;
    transform:rotate(90deg) ;
    padding-top:0px;
}

.searchbox{
    font-size: 20px;
    border: none;
    /* border: 2px solid black; */
    outline: none;
    padding-left: 20px;
}

.DepartmentsAndCategories{
    display: flex;
}

.applications{
    padding-left: 50px;
}

.applicationsHead{
    font-size: 20px;
    color: #7F8798;
    padding-left: 3px;
    padding-top: 30px;
}

.applicationsCategories{
    width: 400px;
    border: 1px solid rgb(241, 231, 231);
    background-color: #F6F6FB;
    display: flex;
}

.leftSideCategories{
    font-size: 18px;
    color: #7F8798;
}

.rightsideCategories{
    font-size: 18px;
    color: #7F8798;
}

li{
    list-style-type: none;
    margin-top: 12px;
    /* border: 2px solid black; */
}

.analytics{
    padding-left: 60px;
}

.analyticsHead{
    font-size: 20px;
    color: #7F8798;
    padding-left: 3px;
    padding-top: 30px;
}

.analyticsCategories{
    width: 200px;
    border: 1px solid rgb(241, 231, 231);
    background-color: #F6F6FB;
    display: flex;
    padding-bottom: 32px;
}

.categoriesofAnalytics{
    font-size: 18px;
    color: #7F8798;
}


.flows{
    padding-left: 60px;
}

.flowsHead{
    font-size: 20px;
    color: #7F8798;
    padding-left: 3px;
    padding-top: 30px;
}

.flowsCategories{
    width: 200px;
    border: 1px solid rgb(241, 231, 231);
    background-color: #F6F6FB;
    display: flex;
    padding-bottom: 96px;
}

.categoriesofFlows{
    font-size: 18px;
    color: #7F8798;
}