body{
    width:99%;
    height: 98%;
    /* border:1px solid black; */
}

.leftsideElements{
    width: 30%;
    height: 50px;
    /* position: fixed; */
    left: 75px;
    /* border: 2px solid white; */
}

.header{
    width:100%;
    height:50px;
    background-color: #282D44;
}

.creatorlogo{
    width: 7%;
    height: 32px;
    /* padding: 10px; */
    cursor: pointer;
    float: left;
    /* margin: 10px; */
    margin-left: 50px;
    margin-top: 9px;
}

.logoname{
    width: 35%;
    font-size: 30px;
    line-height: 47px;
    float: left;
    margin-left: -25px;
    margin-top: 0px;
    text-align: center;
    color: white;
    cursor: pointer;
    height: 50px;
    /* border: 1px solid white; */
}

.optionBox{
    width: 250px;
    height: 55px;
    /* border: 3px solid red; */
    /* float: left; */
    margin-left: 265px;
}

.organize{
    width: 75%;
    height: 35px;
    font-size: 15px;
    /* left: 275px; */
    /* float: left; */
    /* position: fixed; */
    margin-top: 7.5px;
    color: white;
    background-color: #313752;
    /* border: 1px solid white; */
    outline: none;
}

.rightsideElements{
    width: 22%;
    height: 50px;
    float: right;
    /* border: 1px solid red; */
    /* margin-left: 592px; */
    /* position: fixed; */
    /* right: 0px; */
    margin-top: -55px;
}

.subscription{
    width: 44%;
    font-size: 25px;
    line-height: 47px;
    /* position: fixed; */
    /* top: -10px; */
    margin-right: 145px;
    float: right;
    color: #C5A147;
    /* border: 2px solid blue; */
    cursor: pointer;
    height: 50px;
    margin-top: 7px;
}

.settings{
    color: #F6F6FB;
    top: 27px;
    float: right;
    /* position: fixed; */
    font-size: 20px;
    margin-right: 100px;
    margin-top: -60px;
    /* border: 2px solid black; */
    cursor: pointer;
}   

.align{
    color: #F6F6FB;
    margin-top: -60px;
    float: right;
    /* position: fixed; */
    margin-right: 50px;
    /* border: 2px solid black; */
    cursor: pointer;
}

.userimg{
    width: 30px;
    height: 30px;
    /* position: fixed; */
    float: right;
    margin-top: -67px;
    /* border: 2px solid black; */
    /* right: 30px; */
    border-radius: 50px;
    cursor: pointer;
}

.informations{
    width: 100%;
    height: 845px;
    /* border: 2px solid black; */
}

.categories{
    width: 20%;
    height: 845px;
    background-color: #F6F6FB;
    /* border: 2px solid black; */
}

.development{
    width:99%;
    height:175px;
    /* border:2px solid black; */
    /* position: fixed; */
    top: 60px;
}

.developHead{
    font-size: 25px;
    color: #54627C;
    margin-top: 30px;
    margin-left: 25px;
    cursor: pointer;
}

.developementCategories{
    width: 57%;
    height: 75px;
    /* border: 1px solid black; */
}

.solutionimage{
    width: 20px;
    height: 30px;
    margin-left: 25px;
    cursor: pointer;
    /* border: 2px solid black; */
}

.solutions{
    font-size: 20px;
    color: #54627C;
    margin-left: 70px;
    margin-top: -25px;
    /* border: 2px solid black; */
    cursor: pointer;
}

.services{
    font-size: 20px;
    color: #54627C;
    margin-left: 75px;
    /* border: 2px solid black; */
    margin-top: -25px;
    cursor: pointer;
}

.serviceimage{
    width: 20px;
    height: 30px;
    margin-left: 25px;
    margin-top: 6px;
    cursor: pointer;
    /* border: 2px solid black; */
}

.deploy{
    width:99%;
    height:230px;
    /* position: fixed; */
    top: 240px;
    /* border: 2px solid black; */
    cursor: pointer;
}

.deployHead{
    font-size: 25px;
    color: #54627C;
    margin-top: 30px;
    /* border: 2px solid black; */
    margin-left: 25px;
    cursor: pointer;
}

.deployCategories{
    width: 57%;
    height: 135px;
    /* border: 1px solid black; */
}

.environmentimage{
    width: 20px;
    height: 30px;
    margin-left: 25px;
    /* border: 2px solid black; */
    margin-top: 6px;
    cursor: pointer;
}

.environments{
    font-size: 20px;
    color: #54627C;
    margin-left: 75px;
    margin-top: -25px;
    cursor: pointer;
    /* border: 2px solid black; */
}

.mobileimage{
    width: 20px;
    /* border: 2px solid black; */
    height: 30px;
    margin-left: 25px;
    margin-top: 6px;
    cursor: pointer;
}

.mobile{
    font-size: 20px;
    color: #54627C;
    /* border: 2px solid black; */
    margin-left: 75px;
    margin-top: -25px;
    cursor: pointer;
}

.globeimage{
    width: 20px;
    height: 30px;
    margin-left: 25px;
    margin-top: 6px;
    cursor: pointer;
}

.portal{
    font-size: 20px;
    color: #54627C;
    /* border: 2px solid black; */
    margin-left: 75px;
    margin-top: -25px;
    cursor: pointer;
}

.manage{
    width:99%;
    height:300px;
    /* position: fixed; */
    top: 475px;
    /* border: 2px solid black; */
}

.managehead{
    font-size: 25px;
    color: #54627C;
    margin-top: 30px;
    margin-left: 25px;
    /* border: 2px solid black; */
    cursor: pointer;
}

.manageCategories{
    width: 57%;
    height: 195px;
    /* border: 1px solid black; */
}

.usersimage{
    width: 20px;
    height: 30px;
    /* border: 2px solid black; */
    margin-left: 25px;
    margin-top: 6px;
    cursor: pointer;
}

.users{
    font-size: 20px;
    color: #54627C;
    margin-left: 75px;
    margin-top: -25px;
    /* border: 2px solid black; */
    cursor: pointer;
}

.governanceimage{
    width: 20px;
    height: 30px;
    margin-left: 25px;
    margin-top: 6px;
    /* border: 2px solid black; */
    cursor: pointer;
}

.governance{
    font-size: 20px;
    color: #54627C;
    margin-left: 75px;
    margin-top: -25px;
    cursor: pointer;
}

.operationimage{
    width: 20px;
    height: 30px;
    /* border: 2px solid black; */
    margin-left: 25px;
    margin-top: 6px;
    cursor: pointer;
}

.operation{
    font-size: 20px;
    color: #54627C;
    margin-left: 75px;
    /* border: 2px solid black; */
    margin-top: -25px;
    cursor: pointer;
}

.organiseimage{
    width: 20px;
    height: 30px;
    margin-left: 25px;
    /* border: 2px solid black; */
    margin-top: 6px;
    cursor: pointer;
}

.organise{
    font-size: 20px;
    color: #54627C;
    margin-left: 75px;
    /* border: 2px solid black; */
    margin-top: -25px;
    cursor: pointer;
}

.mainpage{
    width: 1440px;
    height: 850px;
    /* border: 1px solid black; */
    /* position: fixed; */
    margin-top: -865px;
    margin-left: 380px;
}

.head{
    width: 1435px;
    height: 30px;
    /* border-bottom: 1px solid gray; */
}

.headAll{
    font-size: 25px;
    margin-left: 20px;
    color: #7C8496;
    border-bottom: 1px solid grey;
}

.search{
    margin-top: 30px;
    width: 700px;
    height: 50px;
    border-bottom: 1px solid grey;
    margin-left: 50px;
}

.searchIcon{
    width: 30px;
    height: 30px;
    color:gray;
    font-size: 25px;
    transform:rotate(90deg) ;
    margin-top:15px;
    /* border: 2px solid black; */
}

.searchbox{
    width:500px;
    height:40px;
    font-size: 20px;
    border: none;
    /* border: 2px solid black; */
    outline: none;
    margin-left: 20px;
}

.DepartmentsAndCategories{
    width: 78%;
    height: 600px;
    /* border: 2px solid black; */
    top: 215px;
    position: fixed;
}
.applications{
    width: 600px;
    height: 375px;
    /* border: 1px solid red; */
}
.applicationsHead{
    width: 200px;
    font-size: 20px;
    color: #7F8798;
    /* border: 2px solid black; */
    margin-left: 50px;
    margin-top: 30px;
}

.applicationsCategories{
    width: 500px;
    height: 280px;
    border: 1px solid rgb(241, 231, 231);
    /* border: 2px solid black; */
    margin-left: 50px;
    margin-top: 20px;
}

.leftSideCategories{
    width: 200px;
    height: 250px;
    font-size: 18px;
    color: #7F8798;
    /* border: 2px solid black; */
}

.rightsideCategories{
    width: 200px;
    height:250px;
    font-size: 18px;
    /* border: 2px solid black; */
    float: right;
    margin-top: -270px;
    color: #7F8798;
}

li{
    list-style-type: none;
    margin-top: 12px;
    /* border: 2px solid black; */
}

.analytics{
    width: 400px;
    height: 375px;
    margin-left: 625px;
    margin-top: -378px;
    /* border: 2px solid blue; */
}

.analyticsHead{
    margin-left: 90px;
    margin-top: 7px;
    width: 200px;
    font-size: 20px;
    color: #7F8798;
}

.analyticsCategories{
    width: 200px;
    height: 280px;
    border: 1px solid rgb(241, 231, 231);
    margin-left: 100px;
    margin-top: 20px;
}

.categoriesofAnalytics{
    font-size: 18px;
    /* border: 2px solid black; */
    color: #7F8798;
}


.flows{
    width: 300px;
    height: 375px;
    margin-left: 1090px;
    margin-top: -378px;
    /* border: 2px solid black; */
}

.flowsHead{
    width: 200px;
    font-size: 20px;
    color: #7F8798;
    margin-left: 68px;
    margin-top: -6px;
    /* border: 2px solid black; */
}

.flowsCategories{
    width: 200px;
    height: 280px;
    border: 1px solid rgb(241, 231, 231);
    margin-left: 68px;
    margin-top: 20px;
    /* border: 2px solid black; */
}

.categoriesofFlows{
    font-size: 18px;
    /* border: 2px solid black; */
    color: #7F8798;
}